@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Press+Start+2P&family=Inter+Tight:wght@400;600&family=Roboto+Slab:wght@400;700&display=swap");

$frameWidth: 10px;
$colorRetro: #f9b85b;
$colorBlue: #5998ff;

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.95);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --window-size: 400px;
  @media screen and (max-width: 500px) {
    --window-size: 320px;
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background: rgb(60 55 46);
  filter: url(#leftLight);
  font-family: "Orbitron";
}

.title {
  color: $colorRetro;
}

.metadata {
  b {
    color: $colorRetro;
  }
}

a {
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* add some filter or turbulence for the wall background? */

#root {
  width: 100vw;
}

.App {
  margin-top: 4vh;
  @media screen and (max-width: 800px) {
    margin-top: 0;
  }
}

.windows {
  display: flex;
  flex-wrap: wrap;
  gap: 4em;
  max-width: 2000px;
  margin: auto;
  padding: 0 4em;

  @media screen and (max-width: 800px) {
    padding: 0 2em;
  }
  @media screen and (max-width: 1032px) {
    justify-content: center;
  }
}

.info {
  position: absolute;
  top: 4px;
  right: 4px;

  &.toggled {
    box-shadow: inset 1px 2px 5px black;
  }
}

.description {
  padding: 2em 4.5em;
  max-width: 1200px;
  font-family: "Roboto Slab";
  @media screen and (max-width: 800px) {
    padding: 2em;
    margin: 0 auto;
  }
}

.window {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em #0002;
  width: 100%;
  max-width: var(--window-size);
  max-height: var(--window-size);
  aspect-ratio: 1/1;
  margin: auto 0;
  padding: $frameWidth;
  // background: rgb(62 99 107);
  position: relative;
  justify-content: center;

  .imageContainer {
    position: relative;
    width: inherit;
    height: inherit;
    box-shadow: 0 0 1.5em #0002;

    .date {
      position: absolute;
      top: 1px;
      right: -1px;
      font-size: 0.5em;
      font-family: "Press Start 2P", cursive;
      color: $colorRetro;
      backdrop-filter: blur(2px);
      line-height: 16px;
      padding: 0 3px;
      border-radius: 0 0 0 4px;
      background: rgba(0, 0, 0, 0.4);
    }

    img {
      border: 1px solid black;
      width: inherit;
      height: inherit;
      object-fit: cover;
    }
  }

  .ledge {
    position: absolute;
    font-family: "Orbitron";
    width: calc(var(--window-size) + ($frameWidth * 6));
    border-radius: 4px;
    // background: rgb(62 99 107);
    bottom: 0;
    left: -($frameWidth * 2);
    height: 24px;
    z-index: 2;
    display: flex;
    justify-content: center;
  }
}

.filter {
  position: fixed;
  z-index: -1;
}

footer {
  margin-top: auto;
  padding-top: 100px;
  padding-bottom: 12px;
  text-align: center;
  font-size: 0.8em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  body {
    background: rgb(242 230 210);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .title {
    color: $colorBlue;
  }
}
